<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ERROR EJS </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="app-background" style="height : 100vh; padding : 25px; min-width: 425px;">

    <div class="soft-corner white-background red-text padding margin-auto flexer columner  column-left-align border-min-width">
          <h1> AUTHENTICATION FAILED !!!</h1>
          <h3> 
            <a href="/posts" class="skyblue-text"> Back to Users Page </a> 
          </h3>
    </div>

</body>
</html>