<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> HOME EJS </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="app-background" style="height : 100vh; padding : 25px;">
    <div class="soft-corner translucent padding center-text margin-auto" style="width : 65vw">
        <h1 class="yellow-text">
            WELCOME TO THE OPEN POST 
        </h1>
        <h2 class="azure-text"> OPEN POST is the social media app where anyone can share their experiences, feelings with all the people in the world </h2>
        <h2 class="azure-text"> There are around <%= user_count %> number of happy users for our app all over the world </h2>
        <br />
        <h3> <a href="/posts" class="skyblue-text"> Click here to explore </a> </h3>
    </div>
</body>
</html>